# dependencies
node_modules/

# Claude Code
.claude/

# Next.js
.next/
out/

# TypeScript
*.tsbuildinfo

# env files
.env*
!.env.example

## markdown files
todo.md
features.md
next-steps.md 

# generated email preview (recreated by scripts/preview-email.ts)
email-preview.html